---
export const prerender = false;
import Layout from "../../layouts/Layout.astro"
import BackArrowIcon from "../../components/BackArrowIcon.astro" 
import  LinksofCreate from "../../components/LinksofCreate.astro"
import AccountFrom  from "../../components/AccountFrom.astro"
---
<Layout title="Create Account">
 <a href="/register">
    <BackArrowIcon/>
  </a>
 <h1>Account</h1>
 <LinksofCreate/> 
  <AccountFrom/>


</Layout>
