---

export const prerender = false;
import Layout from "../../layouts/Layout.astro"
import RemindersForm from "../../components/RemindersForm.astro"
import BackArrowIcon from "../../components/BackArrowIcon.astro" 
import  LinksofCreate from "../../components/LinksofCreate.astro"
---
<Layout title="Create Reminders">
 <a href="/register">
    <BackArrowIcon/>
  </a>
 <h1>Reminders</h1>
 <LinksofCreate/> 
  <RemindersForm/>


</Layout>
