---
const typeTranctin = ["Expense","Income"]

---
<h1>Last Transactions</h1>
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Type Transaction</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>Expense for groceries</td>
        <td>$50.00</td>
        <td class={typeTranctin[0] == "Expense" ? "expense" :"income"}>Expense</td>
      </tr>
      <tr>
        <td>Jane Smith</td>
        <td>Salary payment</td>
        <td>$1000.00</td>
        <td  class={typeTranctin[1] == "Expense" ? "expense" :"income"}>Income</td>
      </tr>
      <!-- Agrega más filas según sea necesario -->
    </tbody>
  </table>
<style>
.expense {
  color: red;
}
.income {
  color: green;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
}
  </style>
