---
import { AccountRepotory} from "../repository/account.repository"
import {type AccoutInfoInterface} from "../interface/account.interface"
const accountRepository = new AccountRepotory()
const accounts :AccoutInfoInterface[]= await  accountRepository.findAll()
---
<section>

  <h1>Accounts</h1>
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Bank</th>
        <th>CurrentBalance</th>
      </tr>
    </thead>
    <tbody>
{accounts.map(a => (

      <tr>
  <td>{a.AccountInfo.name}</td>
  <td>{a.AccountInfo.bank}</td>
  <td>{a.CurrentBalance}</td>
      </tr>
    ))}
    </tbody>
  </table>


</section>

<style>
.expense {
  color: red;
}
.income {
  color: green;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
}
  </style>
