---

---

<h2>Reminders</h2>
<div class= "content-reminders">
<div>
<h3>Name</h3>
<p>Description</p>
<p>Date</p>
  </div>

<div>
<h3>Name</h3>
<p>Description</p>
<p>Date</p>
  </div>
  <div>


</div>

<style>

.content-reminders{

  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr);
 

}

</style>
