---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import ListofAccounts from "../components/ListofAccounts.astro"
import BackArrowIcon from "../components/BackArrowIcon.astro" 
---
<Layout title="Accounts">
  <a href="/">
    <BackArrowIcon/>
  </a>
  <section transition:name="accounts">
<ListofAccounts transition:name="accounts"/>

  </section>
</Layout>



