---

import ChartComponent from "../components/CharstComponent.astro";
import Layout from "../layouts/Layout.astro";
import BackArrowIcon from "../components/BackArrowIcon.astro" 
---
<Layout title="Charst">
    <a href="/">
    <BackArrowIcon/>
  </a>
  <h1>Charst</h1>
  <section class="chart" transition:name="chart">
  <ChartComponent client:load transition:persist />
  </section>

</Layout>
