---

import Layout from '../layouts/Layout.astro';

import  LinksofCreate from "../components/LinksofCreate.astro"
import BackArrowIcon from "../components/BackArrowIcon.astro" 
---
<Layout title='Register'>
  <a href="/">
    <BackArrowIcon/>
  </a>
  <h1>Register</h1>
<section>

  
<LinksofCreate/>
</section>

</Layout>




