---
export const prerender = false;
import  LastTransaction from "../components/LastTransaction.astro";
import Layout from '../layouts/Layout.astro';
import BackArrowIcon from "../components/BackArrowIcon.astro" 
---
<Layout title='Transactions'>

  <a href="/">
    <BackArrowIcon/>
  </a>
    <section transition:name="transaction">
      <LastTransaction/>
    </section>
 
</Layout>


